body {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-text-size-adjust: none;
}

/* Extra UI that appears on desktop version */
div#desktop {
	text-align: center;
}

/* Error that displays if user is playing in portrait mode */
#portError {
	text-align: center;
	font-size: 1.90em;
}

/* Game container */
div#container {
	position: relative;
	border: 1px black solid;
	border-width: 1px 0;
	overflow: hidden;
	cursor: default;	
	-webkit-user-select: none;
}

div#ui {
	border: 1px black solid;
	border-width: 1px 0;
}

div#progress {
	float: left;
	display: inline-block;
	height: 100%;
	border: 1px black solid;
	border-width: 0 1px;
}

div#cProgress {
	height: 100%;
	background-color: red;
}

div#lives {
	float: left;
	display: inline-block;
	height: 100%;
	border: 1px black solid;
	border-width: 0 1px;
}

div#score {
	float: left;
	display: inline-block;
	height: 100%;
	font-size: 150%;
	text-align: center;
}

div#pause {
	float: right;
	display: inline-block;
}

div.track {
	width: 100%;
	border:1px black solid;
	border-width: 1px 0;
	position: relative;
}

div.obstacle {
	width: 30px;
	background-color: red;
	margin: 0 30px;
	height: 100%;
}

div.target {
	width: 90px;
	position: absolute;
}

img.circle {
    width: 30px;
    height: 30px;
} 

h2#innerText {
	color: #8F7A66;
}

/* 
//--------------------------------------
//START OF JESSE'S CSS
//-------------------------------------- 
*/
/*login and signup links*/
.account {
	float: right;
	color: black;
	font-size: 30px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	text-shadow: none;
}

/*Center SwipeAway text*/
div#title {
	text-align: center;
	padding-bottom: 10px;
	line-height: 0;
	margin-top: 0;
	margin-bottom: 0px;
}

#titleText {
	font-size: 60px;
}

/* Style anchors as buttons*/
a.btn {
	text-decoration: none;
    display: inline-block; 
    width: 310px;
	height: 50px;
	padding-top: 6px;
	padding-left: 8px;
	font-size: 5em;
	text-shadow: none;

}

/* align buttons and inputs in center*/
ul {
	text-align: center;
	padding: 0;
	list-style-type: none;
	margin-bottom: 0;
	margin: 0 10px;
}

li {
	padding-bottom: 10px;
}

.inputs {
	margin: 0 auto;
	width: 100px;
	font-size: 4em;
}

form {
	display: block;
	margin: 0 auto;
	width: 340px;
	font-size: 0.4em;
	text-shadow: none;
}

/* Style level page*/

#levels a {
	font-size: 30px;
	text-decoration: none;
	margin-right: 60px;
	padding: 13px 23px;
	border-radius: 5px;
	background-color: #CDC1B4;
	color: #776E65;
	text-shadow: none;
}

#levels a:active {
	background-color: #ddd2c5;
}

#levels {
	text-align: center;
}

#levels a:nth-child(3) {
	margin-right: 0;
}

/* Start Overlay */
div#overlayTitle {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 10px;
	line-height: 0;
	color: #776E65;
}
div#centerOptions {
	text-align: center;
}

div#options {
	text-align: center;
	left: 0;
	right: 0;
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
}

div#options a.button {
	font-size: 30px;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 40px;
	border-radius: 5px;
	background-color: #EDC53F;
	color: white;
	text-shadow: none;
}

div#options a#quit {
	background-color: #f67c5f;
}

div#options a#quit:active {
	background-color: #e07057;
}

div#options a#start:active {
	background-color: #d6b444;
}

div#options a.button:nth-child(1) {
	margin-left: 0;
}

/* Position overlay on top of game screen */
div.overlay {
	z-index: 10;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255, 0.9);
	text-align: center;
}
/* 
//--------------------------------------
//END OF JESSE'S CSS
//-------------------------------------- 
*/


/* CSS for level select page. */
#title {
    text-align: center;
    font-size: 50px;
}

#backButton {
    position: fixed;
    padding-left: 20px;
}

#button1 {
    margin-top: 6%;
    margin-left: 20%;
    width: 60px;
    height: 60px;
    font-size: 180%;
}

#button2 {
    margin-top: 6%;
    margin-left: 20%;
    width: 60px;
    height: 60px;
    font-size: 180%;
}

#button3 {
    margin-top: 6%;
    margin-left: 20%;
    width: 60px;
    height: 60px;
    font-size: 180%;
}

#button4 {
    margin-top: 8%;
    margin-left: 39%;
    width: 200px;
}

#infinite {
    margin: 15px;
    width: 80px;
    height: 40px;
}
/* Style Table*/
div#centerTable {

}

table#table {
	color: #776E65;
	margin: 0  auto;
	border-collapse: collapse;
	text-align: center;
	border: none;
	width: 310px;

}

table, th, td {
	border: 2px solid #8F7A66;
} 

#tableheader {
    color: white;
    background-color: #BBADA0;
}

#userScore {
    color: white;
    background-color: #BBADA0;
}