body {
	font-family: "Verdanna", sans-serif;
}
.ui-page { 
    background:#FAF8EF;
}

div#title {
	color: #776E65; 
}

.btn {
	color: white !important;
	padding-top: 100px;
	background-color: #EDC53F;
	border-radius: 4px;
	
}

form .btn:active {
	background-color: #d6b444 !important;
	  box-shadow: 0 !important;
} 

a i.material-icons {
	font-size: 30px;
	padding-right: 10px;
}

a i.material-icons:active {
	color: #7c746b !important;
}

div#topBar {
	padding-top: 10px;
	color: #BBADA0;
}

div#account {
	float: right;
}

div a.account {
	margin-top: 5px;
	padding-top: 0;
	font-size: 20px;
	text-decoration: none;
	color: #BBADA0 !important;
}

div a.account:active {
	color: #7c746b !important;
}

i {
	padding-left: 10px;
	color: #BBADA0;
}

div a.account:link {
	color: #BBADA0;
}

a#signup {
	margin-left: 5px !important;
	border-right: 2px solid #8F7A66; 
}

input.inputs {
	border: 1px solid #8F7A66 !important;
	background-color: white;
	box-shadow: none;
}

/* UGLY INPUTS STILL UGLY */
form ul#options li input.inputs:active {
	color: #776E65 !important;
	box-shadow: none !important;
}

input.inputs::-webkit-input-placeholder { 
    color: #CDC1B4;
    text-shadow: none;
}

div#subTitle {
	margin-bottom: 20px;
	text-align: center;
	padding-bottom: 10px;
	line-height: 0;
	color: #776E65;

}

#endless {
	margin: 70px auto;
	text-align: center;
}

ul li a.btn#reset, .btn#delete, .btn#tutorial  {
	background-color: #F59563;
}

ul li a.btn#reset:active, a.btn#delete:active, a.btn#tutorial:active {
	background-color: #d68760 !important;
} 

a#endlessBtn {
	color: white;
	text-decoration: none;
	font-size: 30px;
	text-decoration: none;
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #F59563;
	color: white;
	text-shadow: none;
	padding-right: 102px
}

a#endlessBtn:active {
	background-color: #d68760;
} 





































