body {
	margin: 0;
}

/* Extra UI that appears on desktop version */
div#desktop {
	text-align: center;
}

/* Error that displays if user is playing in portrait mode */
#portError {
	text-align: center;
	font-size: 1.90em;
}

/* Game container */
div#container {
	border: 1px black solid;
	border-width: 1px 0;
}

div#ui {
	border: 1px black solid;
	border-width: 1px 0;
}

div.track {
	width: 100%;
	border:1px black solid;
	border-width: 1px 0;
}

div.obstacle {
	width: 40px;
	background-color: red;
	position: absolute;
}

#circle {
    position: relative;
    width: 35px;
    height: 35px;
    top: 30px;
} 

//login and signup links
.block {
    margin: auto;
}

.account {
	float: right;
	color: red;
	padding-top: 10px;
	padding-right: 10px;
}

// centering home page buttons
.buttons {
	width: 150px;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	border-bottom-color:#333;
	border:1px solid #61c4ea;
	background-color:#7cceee;
	border-radius:5px;
	color:#333;
	font-size:24px;
	padding:5px
}

div.buttonSpace {
	padding-top: 10px;
}

button {
	margin: 0 auto;
	display: block;
}

a img.icon {
	padding-top: 10px;
	padding-left: 10px;
}